{% extends "base.html" %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header mb-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>About Us</h2>
            </div>
            <div class="col-12">
                <a href="">Home</a>
                <a href="">About Us</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Food Start -->
<div class="food mt-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-burger"></i>
                    <h2>Burgers</h2>
                    <p>
                       Juicy, flavorful, and made with the freshest ingredients — our burgers are crafted to satisfy every craving.
                    </p>
                    <a href="">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-snack"></i>
                    <h2>Snacks</h2>
                    <p>
                        Perfect bites for any time of the day — from crispy treats to savory delights, we’ve got your snacking covered.
                    </p>
                    <a href="">View Menu</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="food-item">
                    <i class="flaticon-cocktail"></i>
                    <h2>Beverages</h2>
                    <p>
                        Refreshing drinks to complement your meal — from chilled sodas to fresh juices, sip your way to satisfaction.

                    </p>
                    <a href="">View Menu</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Food End -->


<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img">
                    <img src="/static/img/about.jpg" alt="Image">
                    
                        <span></span>
                    </button>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-header">
                        <p>About Us</p>
                        <h2>Cooking Since 1990</h2>
                    </div>
                    <div class="about-text">
                        <p>
                           BiteHub 🍔 is a modern, user-friendly platform designed to make food ordering simple, reliable, and engaging. Built with a strong foundation in Django, it combines thoughtful design with seamless functionality. Every feature is crafted to deliver value — from smooth navigation to secure payments — ensuring an enjoyable experience for both customers and vendors. With a focus on scalability, adaptability, and precision, BITE HUB grows alongside your needs while maintaining quality at every step.<br><br>

We believe in creating with care and attention to detail. Our approach blends style with function, ensuring every element serves a purpose. We aim for balance, delivering results that are both beautiful and effective. Collaboration and adaptability guide us, helping ideas grow into lasting solutions.
                        </p>
                        <a class="btn custom-btn" href="">Book A Table</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Video Modal Start-->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>        
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Video Modal End -->
{% endblock %}