{% extends "base.html" %}
{% block content %}
        <!-- Carousel Start -->
        <div class="carousel">
            <div class="container-fluid">
                <div class="owl-carousel">
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/carousel-1.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Best <span>Quality</span> Ingredients</h1>
                            <p>
                               Welcome to our platform. We believe in simplicity, elegance, and functionality. Our goal is to create experiences that are easy to use, visually appealing, and effective in delivering results.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="">View Menu</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/carousel-2.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>World’s <span>Best</span> Chef</h1>
                            <p>
                               Curved pathways lead to strong support. Stay grounded and steady. Growth comes from variety, change, and persistence.
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="">View Menu</a>
                                <a class="btn custom-btn" href="">Order Now!</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-img">
                            <img src="/static/img/carousel-3.jpg" alt="Image">
                        </div>
                        <div class="carousel-text">
                            <h1>Fastest Order <span>Delivery</span></h1>
                            <p>
                               When challenges are met with skill and balance, progress follows naturally. Move with purpose, adapt to change, and keep moving toward your goal
                            </p>
                            <div class="carousel-btn">
                                <a class="btn custom-btn" href="">View Menu</a>
                                <a class="btn custom-btn" href="">Book Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->

        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img">
                            <img src="/static/img/about.jpg" alt="Image">
                           
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content">
                            <div class="section-header">
                                <p>About Us</p>
                                <h2>Cooking Since 2025</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                   BiteHub 🍔 is a modern, user-friendly platform designed to make food ordering simple, reliable, and engaging. Built with a strong foundation in Django, it combines thoughtful design with seamless functionality. Every feature is crafted to deliver value — from smooth navigation to secure payments — ensuring an enjoyable experience for both customers and vendors. With a focus on scalability, adaptability, and precision, FOOD_ZONE grows alongside your needs while maintaining quality at every step."
                                </p>
                                <p>
                                    We believe in creating with care and attention to detail. Our approach blends style with function, ensuring every element serves a purpose. We aim for balance, delivering results that are both beautiful and effective. Collaboration and adaptability guide us, helping ideas grow into lasting solutions.
                                </p>
                                <a class="btn custom-btn" href="">Book A Table</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        
        
        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->
        
        
        <!-- Feature Start -->
        <div class="feature">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="section-header">
                            <p>Why Choose Us</p>
                            <h2>Our Key Features</h2>
                        </div>
                        <div class="feature-text">
                            <div class="feature-img">
                                <div class="row">
                                    <div class="col-6">
                                        <img src="/static/img/feature-1.jpg" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="/static/img/feature-2.jpg" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="/static/img/feature-3.jpg" alt="Image">
                                    </div>
                                    <div class="col-6">
                                        <img src="/static/img/feature-4.jpg" alt="Image">
                                    </div>
                                </div>
                            </div>
                            <p>
                               We focus on quality and thoughtful design. Every feature is built with purpose, balancing beauty and usability. Our process blends creativity with precision, ensuring a result that’s both impactful and reliable
                            </p>
                            <a class="btn custom-btn" href="">Book A Table</a>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-cooking"></i>
                                    <h3>World’s best Chef</h3>
                                    <p>
                                        Celebrating culinary excellence with a passion for flavor. Every recipe is crafted with care, skill, and creativity, bringing gourmet experiences to every plate.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-vegetable"></i>
                                    <h3>Natural ingredients</h3>
                                    <p>
                                       Only the freshest, most wholesome ingredients go into every dish — bringing you flavor the way nature intended
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-medal"></i>
                                    <h3>Best quality products</h3>
                                    <p>
                                       We handpick every item to ensure you get only the finest, freshest, and highest-quality products in every order.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-meat"></i>
                                    <h3>Fresh vegetables & Meet</h3>
                                    <p>
                                       Our produce and meat are sourced from trusted farms, ensuring natural flavor, freshness, and nutrition in every bite
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-courier"></i>
                                    <h3>Fastest door delivery</h3>
                                    <p>
                                        From our kitchen to your door in record time — hot, fresh, and ready when you need it.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="feature-item">
                                    <i class="flaticon-fruits-and-vegetables"></i>
                                    <h3>Ground beef & Low fat</h3>
                                    <p>
                                        Savor the taste of premium ground beef that’s rich in flavor yet low in fat, perfect for healthier meals.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End -->
        
        
        <!-- Food Start -->
        <div class="food">
            <div class="container">
                <div class="row align-items-center">
                {% for cat in categories %}
                    <div class="col-md-4">
                        <div class="food-item">
                            <i class="{{cat.icon}}"></i>
                            <h2>{{cat.name}}</h2>
                            <p>
                                {{cat.description}}
                            </p>
                            <a href="{% url 'all_dishes' %}?q={{cat.id}}">View Menu</a>
                        </div>
                    
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Food End -->
        
        
        <!-- Menu Start -->
        <div class="menu">
            <div class="container">
                <div class="section-header text-center">
                    <p>Food Menu</p>
                    <h2>Delicious Food Menu</h2>
                </div>
                <div class="menu-tab">
                    
                    <ul class="nav nav-pills justify-content-center">
                        {% for category in menu %}
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#c-{{category.cat_id}}">{{category.cat_name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for category in menu %}
                        <div id="c-{{category.cat_id}}" class="container tab-pane">
                            <div class="row">
                                {% if category.items|length == 0 %}
                                 <div class="col-md-12 text-center"><h3>No Items under {{category.cat_name}} Yet..</h3></div>
                                {% else %}
                                <div class="col-lg-7 col-md-12">
                                {% for item in category.items %}
                                    <div class="menu-item">
                                        <div class="menu-img">
                                            <img src="/media/{{item.image}}" alt="Image">
                                        </div>
                                        <div class="menu-text">
                                            <h3><span><a href="{% url 'dish' id=item.id %}">{{item.name}}</a></span> 
                                                {% if item.price != item.discounted_price %}
                                                 <strong><del>&#8377;{{item.price}}</del></strong>
                                                {% endif %}
                                                 <strong>&#8377;{{item.discounted_price}}</strong>
                                            </h3>
                                            <p>{{item.ingredients}}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                                <div class="col-lg-5 d-none d-lg-block">
                                    <img src="/media/{{category.cat_img}}" style="height:100%;width:100%;" alt="Image">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->
        
        
       
        
      
{% endblock %}